
.sidenav {
    min-height: 1500px;
    position: relative;
    font-size: 25px;
    z-index: 1;
    background-color: #12a899;
    position: absolute;
    left: 0;

}

.sidenav Link {
    padding: 6px 8px 6px 16px;
    color: #fff;
    display: block;
}

.sidenav Link:hover {
    color: #f1f1f1;
}
